.page {
  height: 100vh; /* Ocupar 100% del alto del viewport */
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; /* Aplicar la fuente a todo el contenido (opcional) */
}

/* Estilo para el título h1 */
h1 {
  font-size: 3rem; /* Tamaño más grande (ajusta según necesites) */
  font-weight: 600; /* Grosor de la fuente (Poppins tiene varios pesos) */
  font-family: 'Poppins', sans-serif; /* Aplicar la fuente solo al h1 */
  color: #333; /* Color oscuro para mejor legibilidad */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
  margin-bottom: 1.5rem !important; /* Más espacio debajo del título */
}

/* Tarjetas de producto */
.title{
  justify-content: space-between;
}

.w-240px {
  width: 240px !important;
  min-width: 240px !important;
}

.btn-blue {
  background: #44c5ee;
  padding: 10px 28px;
  border: 2px solid #44c5ee;
  color: #fff;
  border-radius: 50px;
  font-weight: 700;
  letter-spacing: 0.08em;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  box-shadow: 0px 0px 60px 0px rgba(68, 197, 238, 0.6);
  outline: none !important;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active {
  background: #fff;
  color: #496174;
}

.image {
  max-height: 240px; /* Ajusta esta altura según tus necesidades */
  object-fit: cover; /* Asegura que la imagen se ajuste dentro del contenedor sin recortarse */
}

.card {
  overflow: hidden;
}

.card-content {
  max-height: 180px;
  overflow: hidden; /* Desactivar el desplazamiento para que todo el contenido sea visible */
  padding-right: 10px; /* Espacio para la barra de desplazamiento */
}
