<shared-navbar></shared-navbar>
<h1>Producto en detalle</h1>

<div *ngIf="product; else noProduct">
  <h1>{{ product.name }}</h1>
  <img class="image" [src]="product.image" alt="{{ product.name }}" />
  <p><strong>Descripcion:</strong> {{ product.description }}</p>
  <p><strong>Tamaño:</strong> {{ product.size }}</p>
  <p><strong>Tipo:</strong> {{ product.type }}</p>
  <p><strong>Precio:</strong> {{ product.price | currency }}</p>
  <button (click)="goBack()">Go Back</button>
</div>

<ng-template #noProduct>
  <p>Producto no encontrado.</p>
  <button (click)="goBack()">Vuelve</button>
</ng-template>

