<shared-navbar/>
<section class="about-us">
    <div class="background-image">
        <div class="overlay">
            <h1>El arte y las Pasiones</h1>
            <p>KYRIA HEKS se define como la pasión llevada a su punto más gráfico.
            Representando la esencia de la actualidad, carga simbólica y mensajes potentes.</p>
        </div>
    </div>
</section>

<section class="values">
    <div class="value-item">
        <img src="/assets/images/lapiz-de-color.png" alt="Icono de Calidad">
        <h2>Calidad Superior</h2>
        <p>Nuestras ilustraciones están creadas con materiales de la más alta calidad para garantizar su durabilidad y belleza.</p>
    </div>
    <div class="value-item">
        <img src="/assets/images/el-pensamiento-de-diseno.png" alt="Icono de Creatividad">
        <h2>Creatividad Infinita</h2>
        <p>El arte hecho a mano es nuestra pasión, y cada pieza refleja una dedicación a la creatividad sin límites.</p>
    </div>
    <div class="value-item">
        <img src="/assets/images/marco.png" alt="Icono de Personalización">
        <h2>Personalización</h2>
        <p>Ofrecemos ilustraciones personalizadas que se adaptan a tus necesidades y preferencias, creando una obra de arte única.</p>
    </div>
</section>
<section class="about-us">
    <div class="background-image about-background">
        <div class="overlay">
            <h1>Desde...</h1>
            <p>Desde el corazón de Cádiz nuestra fundadora combina el arte, lo social y lo crítico para crear ilustraciones
            potentes a través de la técnica del puntillismo, como desde sus mensajes, a veces, solo de manera gráfica y otras incluso acompañadas de un breve texto.</p>
            <p><strong>“Cada obra es una ventana a un mundo donde la imaginación no tiene límites.”</strong></p>
        </div>
    </div>
</section>

<section class="call-to-action">
    <div class="background-image community-background">
        <div class="overlay">
            <h2>Únete a Nuestra Comunidad</h2>
            <p>Sumérgete en este mundo ilustrado, elige la que te defina y pídela, ¡La enviaremos con amor del bueno!</p>
                <p class="Instagram">Descubre más contenido en Instagram.</p>
            <a [routerLink]="['/shop/products']" class="cta-button">Descubre nuestras ilustraciones</a>
        </div>
    </div>
</section>

<shared-footer/>
