/* Estilo general del footer */
.footer {
  background-color: #00a6a6;
  color: #000000;
  font-weight: bolder;
  padding: 20px 0;
  font-family: 'Playwrite DK Loopet', sans-serif;
}
/* Contenedor */
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 20px;
  color: #000000;
}

/* Orientación enlaces */
.footer-column {
  
  flex: 1;
  min-width: 200px;
}

/* Titulos */
.footer h5 {
  color: #000000;
  font-weight: bolder;
  font-size: 16px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* Enlaces */
.footer .value {
  color: #000000;
  text-decoration: none;
}

/* Iconos redes sociales */
.footer .social-icons a {
  margin: 0 10px;
  font-size: 18px;
  text-decoration: none;
}

/* Enlaces */
.footer a:hover {
  color: #F08700;
}

/* Iconos redes sociales */
.footer .social-icons a:hover{
  color: #F08700;
}

/* Copyright */
.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #000000;
}

.footer .copyright:hover{
color: #F08700;
}
