<shared-navbar></shared-navbar>
<div class="container-userlist">
  <ul class="card-items">
    <li *ngFor="let customer of paginatedCustomers" class="user-item">
      <div class="item-container">
        <label>ID</label>
        <div>{{ customer.id }}</div>
      </div>
      <div class="item-container">
        <label>Email</label>
        <div>{{ customer.email }}</div>
      </div>
      <div class="item-container">
        <label>Nombre</label>
        <div>{{ customer.name }}</div>
      </div>
      <div class="item-container">
        <label>Apellido</label>
        <div>{{ customer.surname }}</div>
      </div>
      <div class="item-container">
        <label>Segundo Apellido</label>
        <div>{{ customer.surname2 }}</div>
      </div>
      <div class="item-container">
        <label>Región</label>
        <div>{{ customer.region }}</div>
      </div>
      <div class="item-container">
        <label>Dirección</label>
        <div>{{ customer.address }}</div>
      </div>
      <div class="item-container">
        <label>Provincia</label>
        <div>{{ customer.province }}</div>
      </div>
      <div class="item-container">
        <label>Ciudad</label>
        <div>{{ customer.city }}</div>
      </div>
      <div class="item-container">
        <label>Código Postal</label>
        <div>{{ customer.postalCode }}</div>
      </div>
      <div class="item-container">
        <label>Teléfono</label>
        <div>{{ customer.phone }}</div>
      </div>
      <div class="item-container">
        <label>Estado</label>
        <div>{{ customer.status }}</div>
      </div>
    </li>
  </ul>
</div>

<div class="pagination-controls">
  <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
  <span>Página {{currentPage}}</span>
  <button (click)="nextPage()" [disabled]="(currentPage * itemsPerPage) >= customers.length">Siguiente</button>
</div>
