<shared-navbar/>
<div class="page">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="d-flex justify-content-center mt-5">
          <div class="verification d-flex justify-content-center">
            <p class="mt-3">
              *La verificación de usuario NO ha podido realizarse correctamente.
            </p>
            <button>
            <a href="http://localhost:4200/home" class="btn">Algo a salido mal.Volver a intentarlo</a></button>
    
          </div>
        </div>
    </div>
  </div>
</div>

