<shared-navbar></shared-navbar>

<div class="content mb-5">
  <!-- Parallax Section -->
  <div class="parallax">
    <div class="container-fluid">
      <div class="row d-flex justify-content-center">
        <!-- Títulos -->
        <div class="titles mt-8">
          <h1>{{ title }}</h1>
        </div>

        <!-- Imagen Principal -->
        <div class="d-flex justify-content-center mt-1 mb-4">
          <img src="/assets/ilustracion-main2.png" class="ilustracion-main" />
        </div>

        <!-- Barra Principal -->
        <div class="d-flex justify-content-center mt-4 mb-4">
          <div class="barra mt-3">
            <h2 class="laminas">LÁMINAS ORIGINALES</h2>
            <p class="encargo"><span>Por encargo</span></p>
          </div>
        </div>

<!-- Otros Componentes -->

<div class="d-flex justify-content-center mt-5">
  <shop-carrousel-component></shop-carrousel-component>
</div>

<!-- Sección de Contacto -->
<send-email-component></send-email-component>

<!-- Footer -->
<shared-footer></shared-footer>
